#contenedorFotos{
  padding-top: 20%;
  padding-bottom: 20%;

}

.imagen{
  width: 500px;
  height: 500px;
}

#textofuente {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 25px;
    flex-direction: column;
    margin-left: 1%;
}