body {
    margin: 0%;
    padding: 0%;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }

  
  #NavPage{
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding-left: 15%;
    padding-right: 5%;
  }

 #principal{
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
 }

  footer {
    background-color: #333;
    color: #fff;
    margin: 0px;
    padding: 0%;
  }

  #cargos, #secciones{
    align-items: center;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
    color: white;
  }

  #Integrantes, #Peludos {
    text-align: left;
  }

  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .contenedorFotos {
    margin-left: 1%;
    margin-block-end: 2%;

  }

  #Logo, #About, #Contact{
    text-align: center;
  }
  .contenedorFotos {
    margin-left: 1%;
    margin-block-end: 2%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .text{padding-left: 10%;
    text-align: justify;
  }
  
  #subtitulo{
    margin-left: 1%;
    color: white;
    }
